<!-- <nav class="navbar navbar-expand-md navbar-light navbarText">

  <a id="logoText" class="navbar-brand">
    <img id="logo" src="pics/guitarLogo.png"> Caleb Elias G sounds
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span id="hamburgerMenu" class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a id="latestReleasesLink" class="nav-link">Latest Releases</a>
      </li>

      <li class="nav-item ">
        <a id="drumMachineLink" class="nav-link">Drum Machine</a>
      </li>

    </ul>

    <ul class="navbar-nav">

      <li class="nav-item ">
        <div id="login" class="nav-link">
          Login
        </div>
      </li>

      <li class="nav-item ">
        <div id="signup" class="nav-link">
          Signup
        </div>
      </li>

      <li class="nav-item ">
        <div id="logout" class="nav-link">
          logout
        </div>
      </li>

    </ul>

  </div>
</nav> -->

<%= react_component("App", props: { isLoggedIn: user_signed_in?})%>