#shoppingCartListAbsolute {
    position: fixed;
    top: 90px;
    right: 0px;
    width: 300px;
    height: auto;
    height: 100px;
    background: white;
    z-index: 999999999999999;
    border: 1px solid black;
}