#shoppingCartListAbsolute {
    position: fixed;
    top: 90px;
    right: 0px;
    width: 300px;
    height: auto;
    background: white;
    z-index: 999999999999999;
    border: 1px solid black;
    z-index: 2147483648;
}


.cartRow {
    height: 50px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    font-size: 14px;
}

.totalContainer {
    height: 50px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.totalText {
    height: 100%;
    width: 80%;

}

.totalPrice {
    height: 100%;
    width: 20%;
    
}

.checkoutOuterContainer {
    height: 80px;
    width: 100%;
    border: 1px solid black;
}

.proceedToCheckoutContainer {
    width: 80%;
    height: 80%;
    margin: auto;
    background: rgba(45, 51, 221, 0.747) !important;
    border-radius: 10%;
    margin-top: 7px;
    text-align: center;
}

.itemQuantity {
    height: 100%;
    width: 15%;
    // border: 1px solid black;s
    text-align: center;
    padding-top: 8px;
}



.itemTitle {
    height: 100%;
    width: 45%;
    // border: 1px solid black;
    // text-align: center;
    padding-top: 8px;  
}

.deleteItem {
    height: 100%;
    width: 15%;
    // border: 1px solid black;
    text-align: center;
    padding-top: 8px; 
}

.itemPrice {
    height: 100%;
    width: 25%;
    // border: 1px solid black;
    text-align: center;
    padding-top: 8px; 
}

.hiddenHideCartBtn {
    display: none;
}

#shoppingCartQuantityContainer{
    width: 50px;
    height: 30px;
    position: fixed;
    border: 1px solid black;
    top: 0px;
    right: 0px;
    z-index: 9999999999999999;
    border-bottom-left-radius: 50%;
}



#absoluteNav {
    width: 100vw;
    height: 90px;
    top: 0;
    left: 0;
    position: absolute;
    // background: rgba(45, 51, 221, 0.747) !important;
    display: flex;
    // z-index: -99;
}

:root {
    --absoluteNavTitleShadowWidth: 285px; 
    --absoluteNavSectionsShadowWidth: 285px; 
    --absoluteNavCartSectionWidth: 285px; 
    --absoluteNavSoundcloudShadowWidth: 180px; 
  }

.absoluteNavCartSection {
    width: calc(100vw - var(--absoluteNavTitleShadowWidth) - var(--absoluteNavSectionsShadowWidth) - var(--absoluteNavSoundcloudShadowWidth)  );
    height: 100%;
    // background: purple;
    // border: 2px solid black;
    // float:  right;

}

.absoluteNavTitleShadow {
    width: var(--absoluteNavTitleShadowWidth);
    height: 100%;
    // background: purple;
    // border: 2px solid black;

}

.absoluteNavSectionsShadow {
    width: var(--absoluteNavSectionsShadowWidth);
    height: 100%;
    // background: purple;
    // border: 2px solid black;

}

.absoluteNavSoundcloudShadow {
    width: var(--absoluteNavSoundcloudShadowWidth);
    height: 100%;
    // background: purple;
    // border: 2px solid black;
    float: right !important;
    margin-right: 0px;
    

}

#shoppingCartLink {
    width: 170px;
    height: 100%;
    border: 2px solid black;
    padding-top: 10px;
    
    margin: auto;
    // margin-left: 50%;
    border-radius: 50%;
}

#shoppingCartOuterContainer {
    // font-size: 26px !important;
    text-align: center;
    // margin-top: 20px;
    color: black;
    // border: 2px solid black;
    height: 100%;
    // padding-bottom: 20px;
    // position: absolute;
    
    // left: 700px;
}

.navbar {
    background: white !important;
    /* font-family: 'Spicy Rice', cursive; */
    /* border-bottom: 2px solid blue; */
    border-bottom: 3px solid rgb(26, 21, 85);
    /* font-family: 'Ubuntu', sans-serif; */
    /* text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.144); */
    color: rgb(83, 45, 221)  !important;
    color: rgba(45, 51, 221, 0.747)  !important;
    position: fixed;
    top: 0;
    width: 100%;
    /* font-family: 'Spicy Rice', cursive;
    font-family: 'Acme', sans-serif, cursive;
    font-family: 'Righteous', cursive; */
    z-index: 999999;
    font-weight: bold !important;
    font-family: 'Josefin Sans', sans-serif !important;
    /* font-family: 'Orbitron' !important; */
   
    /* font-family: 'Abril Fatface', cursive; */

}

#logoText {
    font-size: 20px;
    /* width: 50%;
    border: 1px solid black; */
    cursor: pointer !important;
   
}


#drumMachineLogoText {
    font-size: 18px;
    width: 50%;
    /* border: 1px solid black; */
   
}

#addToCartContainer {
    /* width: 50%; */
    margin: auto;
    /* margin-top: 10px; */
    /* text-align: center; */
    /* padding-top: 50px; */
    margin-right: 10px !important;
}

.StripeCheckout {
    display: none !important;
}

.Overlay-BadgeImage {
    display: none !important; 
}