
#drumMachineSection {
    height: auto;
    height: 95vh;
    border: 2px solid black;
    width: 100%;
    padding-bottom: 50px;

    background-repeat: no-repeat;
   
    background-size: cover;
    margin: auto;

    -o-object-fit: cover;
    object-fit: cover;

    position: relative;
}

#drumMachineSectionTitle {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

#drumMachineContainer {
    height: 600px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border: 2px solid #000000;
    margin-top: 50px;
    background: rgba(128, 128, 128, 0.31);
    box-shadow: -5px 10px rgba(0, 0, 0, 0.815);
    border-bottom-right-radius: 1%;
    -webkit-animation: rotate 1600ms 1;
    animation: rotate 1600ms 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#drumMachineTopContainer {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    box-shadow: -7px -10px rgba(0, 0, 0, 0.815);
    outline-offset: -1px;
    background: white;
    display: flex;

}

#drumMachineLogoText {
    font-size: 18px;
    width: 50%;
}

#drumMachineLogo {
    background: yellow;
    height: 50px;

}

#currentKitPrice {
    font-size: 13px
}

#addToCartContainer {
    margin: auto;
    margin-right: 10px !important;
}

#addToCartButton {
    background: #00b3ff !important;
}

#drumMachineMainContainer {
    height: 80%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    box-shadow: 3px 1px black;
    padding-right: 8px;
}

#drumMachineLeftMain {
    width: 50%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

#drumMachineLeftTop {
    width: 100%;
    height: 70%;
    margin-bottom: 15px;
}

#soundPackImageContainer {
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 80px;
}

#soundPackImage {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 3%;
}

#drumMachineLeftBottom {
    width: 100%;
    height: 30%;
    background: #d8d8d8;
    margin-top: -50px;
}

#packsGallery {
    width: 100%;
    margin: auto;
    height: 89%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    padding: 0 20px;
}

.galleryImageContainer {
    width: 33.33%;
    height: 50%;
    display: flex;
    opacity: .3;
    border-radius: 20px;
    overflow: hidden;
}

.galleryImage {
    width: 80%;
    height: 90%;
    background: url(pics/kermitCoverArt.jpg);
    background-size: cover;
    margin: auto;
}

#drumMachineRightMain {
    width: 50%;
    height: 100%;
    border: 0px;
    border-left: 3px solid black;
}

.padRow {
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
}

.padContainer {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.padText {
    height: 18%;
    width: 100%;
    border: 0px solid black;
    font-size: 12px;
    overflow: hidden;
}

.pad {
    height: 82%;
    width: 100%;
    border: 8px solid #8080804f;
    background: rgba(149, 57, 194, 0.753);
    padding: 5px;
    border-radius: 5%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.815);
}

#drumMachineBottomContainer {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    box-shadow: 3px 1px black;
    background: white;
}