.fa-spotify:hover {
    color: #1DB954 !important
  }

  .fa-soundcloud:hover {
    color: #ff8800
  }

  .fa-apple:hover {
    background: radial-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  
}
.fa-youtube:hover {
    color: red
  }

  .fa-shopping-cart:hover {
    color: rgba(0, 0, 0, 0.459);
  }

  .navLink:hover {
    color: rgba(0, 0, 0, 0.781);
    color: rgba(0, 0, 0, 0.815);

    
    // text-shadow: 0px 1px rgba(199, 199, 199, 0.692);
  }

#loadMoreSounds:hover {
  // opacity: .96;
   background: rgba(33, 40, 236, 0.89);
   background: rgba(33, 40, 236, 0.836);
}

#navTitle:hover {
  // opacity: .96;
   color: rgba(33, 40, 236, 0.781);
   
}

#previewButton:hover {
  // background: rgb(41, 47, 206);
  // color: rgb(255, 255, 255);
  // opacity: .98;
  opacity: .95;
  // box-shadow: 2px 2px rgba(255, 255, 255, 0.178);


  // border: 1px solid whites
  // background: rgba(33, 40, 236, 0.89);
}

// .logInorSignUp:hover {
//   color: rgba(33, 40, 236, 0.781);
// }

// .fa-user-lock:hover {
 
// }

#logInSignUpContainer:hover {
  color: rgba(33, 40, 236, 0.781);
}

.circle:hover {
  background: rgba(33, 40, 236, 0.89);
  box-shadow: 2px 2px rgba(255, 255, 255, 0.178);
}

#checkoutBtn:hover {
  background: rgba(33, 40, 236, 0.836);
}

#payWithCard:hover {
  background: rgba(33, 40, 236, 0.836);
}

.btn:hover {
  background: rgba(33, 40, 236, 0.753);
  cursor: pointer;
}

.streamingLogo:hover {
  font-size: 27px !important;
  text-shadow: 1px 1px white;
}

// #addToCart:hover {
//   background: rgba(0, 47, 255, 0.007);
// }


// #forgotPasswordLink:hover {
//   border: 2px solid black;
//   background: rgba(214, 213, 213, 0.103);
// }