.fa-spotify:hover {
    color: #1DB954 !important
  }

  .fa-soundcloud:hover {
    color: #ff8800
  }

  .fa-apple:hover {
    background: radial-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  
}
.fa-youtube:hover {
    color: red
  }