@media only screen and (min-width: 1121px) {
    #mobileLinksContainer {
        display: flex;
        opacity: 0;
        margin-top: -475px;
        
    }

    #hamburgerContainer {
        display: none;
    }
}

@media only screen and (max-width: 1120px) {
    .navLink, #logInSignUpContainer, .cartWideScreen, #accountContainer, {
      display: none;
    }

    #hamburgerContainer {
        display: flex;
    }

   #whatsInside {
        // margin-left: 40px;
    }

    #coverArt {
        padding-left: 10px;
        border-radius: 3px !important;
    }

    .fa-bars, .hamburgerX, .hamburgerX {
        display: initial;
        // margin-left: -20px;
        margin-left: 0px;
        margin-right: 20px;
        
    }

    #mobileLinksContainer {
        display: flex;
        opacity: 1;
        /* margin-top: -475px; */
        
    }

    .floatRight {
        display: initial;
    }

    #navContaineer {
    max-width: initial;
    }

    /* .fa-shopping-cart {
        position: absolute;
    } */

   
  }

  @media only screen and (max-width: 1090px) {

    .fa-bars, .hamburgerX {

        margin-left: 25px;
        margin-right: 20px;
        
    }

    // .fa-times, {
    //     margin-right: 23px;
    // }

    .hamburgerX {
        margin-right: 18px;
    }

    .floatRight{
        margin-right: 20px;
        /* margin-right: 110px; */
        /* text-align: end; */
    }

    .track {
        width: 45%;
        /* height: 160px; */
    }

    #tracksContainer {
        padding-left: 50px;
        padding-right: 50px;
    }

  }

  

  @media only screen and (max-width: 860px) {

    #bigText {
        font-size: 60px;
    }

    #bigTextContainer {
        padding: 0;
        /* padding-left: 40px; */
        width: 400px;
        margin-left: 40px;
        flex-wrap: wrap;
        /* margin-right: 40px; */
        flex-direction: row;
        /* margin-top: 100px; */
        
     }

     .track {
        height: 160px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.712);
     }

     .trackName {
         font-size: 16px;
     }

     .streamingLogo {
         font-size: 20px !important;
     }

     .streamingLogo:hover {
        font-size: 22px !important;
        text-shadow: 1px 1px white;
      }

      .mobileHide {
        display: none;
    }
     

  }


  @media only screen and (max-width: 600px) {

    #bigText {
        font-size: 50px;
        margin-bottom: -70px;
    }

    .streamingLogo {
        font-size: 16px !important;
    }

    #section1 {
        height: 80vh;
        min-height: initial;
    }

    #bigTextContainer {
        padding: 0;
        /* padding-left: 40px; */
        width: 80%;
        margin-left: 40px;
        flex-wrap: wrap;
        /* margin-right: 40px; */
        flex-direction: row;
        margin-top: 110px;
        
        
     }

     .wrapper {
         margin-top: 75px;
         margin-top: 25px
     }

     .track {
        width: 70%;
        min-width: 300px;
        
    }

    .lastTwoTracks {
        display: none;
    }

    .streamingLogo:hover {
        font-size: 18px !important;
        text-shadow: 1px 1px white;
      }
    

  }

  @media only screen and (max-width: 414px) {
    /* .track {
        width: 90%;
        
    } */

    #checkoutText2 {
        display: none;
    }

    #mobilePackTitle {
        display: inline;
        font-size: 10px !important;
    }

    // #mobileDashRemove {
    //     display: none;
    // }
   

    #section1 {
        height: 70vh;

    }

    #stickyFooter {
        height: 100px;
        margin-bottom: 0px;
    }

    #footer {
        height: 140px;
        margin-bottom: 0px;
    }

    #emailStickFooter {
        padding-top: 16px;
    }

    #email {
        padding-top: 35px;
    }

    #tracksContainer {
        padding-left: 0px;
    padding-right: 0px;
    }

    #whatsInside {
        // margin-left: 20px;
        // padding-top: 39px;
        padding-top: 29px;
    }

    #addToCart {
        margin-right: 25px;
    }
    .mobileHide {
        display: none;
    }

    #checkoutContainer, .containerStyle  {
        margin-top: 75px;
        border: 0px;
        box-shadow: none;
        padding-left: 50px;
        padding-right: 50px;
    }

    .innerContainerStyle {
        width: auto;
        border: 0px;
    }

    #checkoutCoverArtContainer {
        height: 240px;
    }

    .edit_user, .new_user {
        margin-top: 0px;
      }

      .editUserInfoContainer {
        margin-top: 75px;
        border: none;
        box-shadow: none;
        // height: 100px;
        height: auto;
      }

      .formBorder {
          border: none;
      }

      .track {
        background: rgb(247, 247, 247);
      }

    
  }



  @media only screen and (max-width: 375px) {
    .floatRight {
        margin-right: 10px;
        // margin-top: -21px;
        font-size: 18px;
    }

    

    #bigText {
        font-size: 40px;
        margin-bottom: 0px;
    }

    #bigTextContainer {
        // margin-top: 100px;
        margin-top: 90px;
        // margin-top: 85px;
        width: 70%;
    }

    #previewButton {
        width: 130px;
        height: 37px;
        padding-top: 13px;
        // margin-top: -30px;
        // margin: auto;
        // margin-left: 0px;
        margin-top: 20px;
        font-size: 16px;
        
    }

    .smallPhoneHide {
        display: none;
    }

   

  }

  @media only screen and (max-width: 320px) {

    #checkoutCoverArtContainer {
        height: 220px;
    }

  

    #bigTextContainer {

        width: 80%;
    }

}
  @media only screen and (max-width: 700px) {


    

    #whatsInside {
        // margin-left: 15px;
        font-size: 16px;
    }

    #addToCart {
        margin-right: 15px;
        font-size: 14px;
        margin-top: 25px;
    }

   
  }

  @media only screen and (max-width: 1024px) {

    /* #latestTracksContainer {
        margin-left: 20px;
        margin-right: 20px;

    } */

    .trackPlayIcon {
        opacity: .8;
    }

    .trackCircle {
        opacity: .8;

    }

    .trackPauseIcon {
        opacity: .8
    }

   

   
  }

  @media only screen and (max-width: 375px) {
    .formBorder {
        border: 0px solid black
    }

    .accountInfoBorder {
        border: 0px solid black;
        height: 150px;
    }

    // .trackPlayIcon {
    //     color: rgba(255, 255, 255, 0.726) !important;
    // }
  }

  @media only screen and (max-width: 800px) {

    .trackCircle {
        height: 80px;
        width: 80px
    }

    

    

    

    
  }