#showPasswordConfirmation {
    display: flex
}

#hidePasswordConfirmation {
    display: none
}

#showErrorMessage {
    display: flex
}

#hideErrorMessage {
    display: none
}

#modalButton {
    display: none;
}


