#section2 {
    height: auto;
    // height: 95vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
    background: linear-gradient(207deg, rgba(71, 109, 204, 0.543), rgb(255, 255, 255)), url('/pics/calebStanRogersFolkFestival.jpg');   
}

#section2title {
    width: 100%;
    background: black;
    color:  white;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
   
}

#mainContainer {
    /* max-width: 1100px; */
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 530px;

} 

.cardsContainer {
    width: 100%;
    max-width: 850px;
    justify-content: space-around;
    display: flex;
    margin: auto;
    flex-direction: row; 
    flex-wrap: wrap;
    border: 2px solid black;

}

.card {
    margin: auto !important;
    overflow: hidden;
    margin-top: 50px !important;
    border: 1px solid black;
    box-shadow: 10px 9px rgb(0, 0, 0);
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 50px !important;
    font-family: 'Shadows Into Light' !important;
    display: relative;
    width: 18rem;
    

}

.playIcon {
    position: absolute;
    left: 52%;
    top: 47%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.playAndPauseIcon {
    color: #dedcdc !important;
    opacity: .7 !important;
}

.card-title {
    text-align: center;
    font-size: 26px !important;
    margin-top: 10px !important;
    color: rgba(10, 20, 39, 0.913) !important;
    margin-bottom: 0.75rem;

}

.card-img-top {
    width: 50%;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px !important;
}

.card-body {
    text-align: center !important;
}

.card-text {
    font-size: 14px;
}

.soundclouds {
    display: none;
    // justify-content: space-between;
    // position: absolute;
}