#section3 {

    width: 100%;
    max-width: 1340px;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 40px;
    background: rgb(248, 248, 248);
}

#latestTracksHeader {
    width: 100%;
    height: 70px;
    text-align: center;
    /* font-family: 'Josefin Sans', sans-serif !important; */
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    /* background: black; */
    /* color: white; */
    padding-top: 30px;
    // text-decoration: underline;

}

#tracksContainer {
    width: 100%;
    
    height: 100%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; 
    overflow: hidden;
}

.track {
    width: 30%;
    max-width: 400px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 0px;
    /* margin-left: 10px;
    margin-right: 10px; */
    display: flex;
    margin-bottom: 30px;
    border-radius: 2px;
    overflow: hidden;
    // box-shadow: 2px 2px black;
    // border-top: 2px solid black;
    // border-bottom-right-radius: 5px;
    // opacity: 1;
    // background: white;
    // background: #f8f8f854;
    // border-top: 2px solid black;
    // box-shadow: 2px 2px rgba(0, 0, 0, 0.637);
    // box-shadow: 1px 1px rgba(0, 0, 0, 0.637);
    // background: rgba(255, 255, 255, 0.842);
    // box-shadow: 1px 1px rgba(0, 0, 0, 0.637);
    // background: rgba(255, 255, 255, 0.473);
    
    // background: rgba(255, 255, 255, 0.719);
    
    /* transform: rotate(180deg); */
    // background: rgba(255, 255, 255, 0.336);
    // box-shadow: 2px 2px rgba(0, 0, 0, 0.637);
    // background: rgba(255, 255, 255, 0.89);
    // background: rgba(255, 255, 255, 0.575);
    // box-shadow: 2px 2px rgba(0, 0, 0, 0.637);
    background: rgb(247, 247, 247);
    // background: white;
    // background: rgba(255, 255, 255, 0.897);
    transition: box-shaddow .3s;
    // border-radius: 15px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.637);
    backface-visibility: hidden;
    opacity: 0;
    // transition-property: transform;

    // transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    // transition-duration: 2s;
    // transition-timing-function: ease;
    transform: perspective(2500px) rotateX(100deg);

    transition: transform 2s cubic-bezier(.25,.46,.45,.94), opacity 1s;
    // box-shadow: 2px 2px rgba(0, 0, 0, 0.712);
}

.track:hover {
    // box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.637);
    // border-radius: 8px;
    // background: rgba(152, 219, 231, 0.034);
    // background: white;
    // border: 1px solid rgb(46, 143, 173);
    // box-shadow: 2px 2px rgba(0, 0, 0, 0.582);
    // opacity: .95;
    // box-shadow: 2px 2px black;
    // box-shadow: 2px 2px rgba(0, 0, 0, 0.685);

    // box-shadow: 0px 0px black;
    // border-top: 2px solid black;
    // box-shadow: 1px 1px rgba(0, 0, 0, 0.637);
    // background: rgba(255, 255, 255, 0.89);
    // background: rgba(255, 255, 255, 0.575);
    // border-top: 2px solid black;
    // border-top: 2px solid rgb(39, 53, 182);
    // border-top: 2px solid rgb(39, 53, 182);
    // box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.637);
    // border: 2px solid rgb(37, 74, 155);
    // border-bottom-right-radius: 3px;
    // border-radius: 0px;
    // box-shadow: 1px 1px rgba(0, 0, 0, 0.637);
}

.track1Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 250ms 5;
    animation-fill-mode: forwards; 
    /* transform: rotate(0deg); */
    
}
.track2Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 200ms 1;
    animation-fill-mode: forwards; 
}
.track3Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 150ms 1;
    animation-fill-mode: forwards; 
}
.track4Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 100ms 1;
    animation-fill-mode: forwards; 
}
.track5Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 50ms 1;
    animation-fill-mode: forwards; 
}
.track6Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 00ms 1;
    animation-fill-mode: forwards; 
}

.trackImageContainer {
    width: 50%;
    height: 100%;
    background: black;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
}

.showCircle {
    opacity: 1 !important
}

.trackCircle {
    width: 100px ;
    height: 100px ;
    /* background: rgb(45, 51, 221); */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 3px solid white;
    /* background: rgba(255, 255, 255, 0.123); */
    background: rgba(0, 0, 0, 0.418);
    /* background: rgba(0, 0, 0, 0.543); */
    /* background: rgba(0, 0, 0, 0.776); */
    opacity: 0;
    transition: opacity 250ms;
    cursor: pointer;
    /* z-index: 99; */


    
    
  
    transform: translate(-50%, -50%);
    
    
    /* margin-right: 50px !important; */
}



.trackImage {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.trackInfoContainer {
    width: 50%;
    height: 100%;
    /* background: purple; */
}

.trackNameContainer {
    width: 100%;
    height: 50%;
    /* background: yellow; */
    position: relative
}

.trackName {
    position: absolute;
  left: 50%;
  top: 50%;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 18px;
  text-align: center;
  

  transform: translate(-50%, -50%);

}

.playAndStreamLinks {
    width: 100%;
    height: 50%;
    /* background: red; */
    display: flex;
    padding-left: 5px;
}

.streamContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap:  wrap;
    box-sizing: border-box;
    /* padding-top: 14px; */
    /* justify-content: space-around; */

}

.logoContainer {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    border: 1px solid black;
    /* border-radius: 50%; */
    box-sizing: border-box;
}

.streamingLogo {
    font-size: 25px !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    
  
    transform: translate(-50%, -50%) !important;
    

}

.playContainer {
    width:  36%;
    height: 100%;
    position: relative;
    
}

.trackPlayIcon {
    position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
//   opacity: 0;
  cursor: pointer;
  

  transform: translate(-50%, -50%);
  color: white !important;
  
  /* color: rgba(45, 51, 221, 0.338) !important */
  
}


.trackPlayIcon {

    position: absolute;
  left: 53%;
  top: 49%;
  font-size: 30px;
  cursor: pointer;
  color: white !important;
  
  opacity: 0;
  

  transform: translate(-50%, -50%);
  transition: opacity 400ms;
//   color: black;


}

.trackPauseIcon {

    position: absolute;
  left: 51%;
  top: 50%;
  font-size: 30px;
  cursor: pointer;
  color: white !important;
  opacity: 0;
  

  transform: translate(-50%, -50%);
  transition: opacity 400ms;
//   color: black;


}

.showPlayIcon {
    opacity: 1 !important;
}

.noStreamingLink {
    opacity: .3;
    // cursor: default; 
    cursor:not-allowed;
    pointer-events: none;
}

.soundclouds {
    display: none;
}

.lastTwoTracks {
    // background: white;
}


#exitCartIcon {
    font-size: 19px;
    // background: rgb(243, 243, 243);
    // background: rgba(226, 226, 226, 0.589);
    border-radius: 50%;
    opacity: .8;
}

.flipDown {
   
    transform: perspective(2500px) rotateX(0);
    opacity: 1
}

.flipUp {
    // transform: perspective(2500px) rotateX(100deg);
}