#section2 {
    /* min-height: 769px; */
    height: 670px;
    height: auto;
    width: 100vw;
    /* border: 1px solid black;s */

    /* display: flex;
    flex-direction: column; */
}

#section2topRow {
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    font-size: 20px;
    font-weight: bold !important;
    display: flex;
    margin-bottom: 10px;
    /* height: 50px; */
    

}

#whatsInside {
    width: 50%;

    padding-top: 30px;
    margin-bottom: 20px;


    /* CURRENT SET UP */
    /* padding-top: 30px; */
    /* margin-bottom: 20px; */

}

#addToCart {
    font-family: 'Fjsalla One', sans-serif;
    width: 40%;
    width: 120px;
    font-weight: bold !important;
    /* position: absolute; */
    top: 0;
    right: 0;
    text-align: center;
    /* margin-top: 30px; */
    /* border: 3px solid black; */
    border-radius: 10px;
    background: #f2f2f280;
    /* box-shadow: 10px 10px blue; */
    box-shadow: 10px 10px rgba(45, 51, 221, 0.788);
    box-shadow: 10px 10px rgba(45, 51, 221, 0.89); 
    height: 30px;

    padding-left: 20px;
    padding-right: 20px;

    padding-top: 8px;

    text-align: center;
    border-radius: 20px;
    font-size: 16px;

    color: black;

    border: 2px solid rgba(0, 0, 0, 0.671);

    color: rgba(45, 51, 221, 0.747);
    margin-left: auto;
    margin-right: 60px;
    margin-top: 16px;


}

#addToCart:hover { 
    cursor: pointer;
}

#samplePackTable{
    font-family: 'Fjalla One', sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 1040px;

    /* border: 2px solid purple; */
    margin: auto;
    /* height: 100%; */
    /* padding-left: 40px; */
    height: 80px;
    /* border: 1px solid black; */
    /* padding-right: 60px; */
    /* padding-top: 30px; */
    /* font-size: 22px; */
    /* font-weight: bold !important; */
    /* border: 1px solid black; */
    /* opacity: 0;
    animation: bigTextAppear 500ms linear 1000ms 1;
    animation-fill-mode: forwards; */
}

th {
    text-align: left;
    color: rgba(0, 0, 0, 0.322);
}

.oddRow {
    background-color: rgb(248, 248, 248);
}

tr {
    height: 80px; 
}


.headerRow {
    height: 40px;
}



.circle {
    width: 45px !important;
    height: 45px !important;
    background: rgb(45, 51, 221);
    border-radius: 50%;
    /* margin-top: -20px; */
    margin-left: 20px;
    position: relative;
    
    
    /* margin-right: 50px !important; */
}

.circle:hover {
    background: rgb(41, 47, 206);
    cursor: pointer;
    /* color: rgb(255, 255, 255);s */
}

// .fa-play {
//     position: absolute;
//   left: 53%;
//   top: 49%;
  

//   transform: translate(-50%, -50%);
//   color: white;
  
// }

.samplePlayIcon {
    position: absolute;
    left: 53%;
    top: 49%;
    
  
    transform: translate(-50%, -50%);
    color: white;

}

.samplePauseIcon {
    position: absolute;
    left: 53%;
    top: 49%;
    
  
    transform: translate(-50%, -50%);
    color: white;

}

.littlePadding {
    width: 20px;
}

.setWidth {
    width: 100px;
}

#loadMoreSounds {
    margin: auto;
    margin-top: 45px;
    width: 190px;
    height: 44px;
    background: rgba(45, 51, 221, 0.747);
    background: rgb(45, 51, 221);
    background: rgba(45, 51, 221, 0.89); 
    border-radius: 20px;
    border-radius: 25px;
    text-align: center;
    padding-top: 20px;
    /* padding-top: 10px; */
    color: rgba(255, 255, 255, 0.961);
    font-family: 'Fjalla One', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif !important; */
    /* font-size: 20px; */
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 53px;
    
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

//   #tableStyle::-webkit-scrollbar-track
// {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	background-color: #F5F5F5;
// }

// #tableStyle::-webkit-scrollbar
// {
// 	width: 12px;
// 	background-color: #F5F5F5;
// }

// #tableStyle::-webkit-scrollbar-thumb
// {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 	background-color: #555;
// }