#section3 {

    width: 100%;
    max-width: 1340px;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 40px;
    background: rgb(248, 248, 248);
}

#latestTracksHeader {
    width: 100%;
    height: 70px;
    text-align: center;
    /* font-family: 'Josefin Sans', sans-serif !important; */
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    /* background: black; */
    /* color: white; */
    padding-top: 30px;

}

#tracksContainer {
    width: 100%;
    
    height: 100%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; 
}

.track {
    width: 30%;
    max-width: 400px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 0px;
    /* margin-left: 10px;
    margin-right: 10px; */
    display: flex;
    margin-bottom: 30px;
    border-radius: 2px;
    /* transform: rotate(180deg); */
}

.track1Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 250ms 5;
    animation-fill-mode: forwards; 
    /* transform: rotate(0deg); */
    
}
.track2Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 200ms 1;
    animation-fill-mode: forwards; 
}
.track3Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 150ms 1;
    animation-fill-mode: forwards; 
}
.track4Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 100ms 1;
    animation-fill-mode: forwards; 
}
.track5Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 50ms 1;
    animation-fill-mode: forwards; 
}
.track6Animation {
    opacity: 0;
    animation: bigTextAppear 50ms ease-in-out 00ms 1;
    animation-fill-mode: forwards; 
}

.trackImageContainer {
    width: 50%;
    height: 100%;
    background: black;
    border: 1px solid black;
    position: relative;
}

.showCircle {
    opacity: 1 !important
}

.trackCircle {
    width: 100px ;
    height: 100px ;
    /* background: rgb(45, 51, 221); */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 3px solid white;
    /* background: rgba(255, 255, 255, 0.123); */
    background: rgba(0, 0, 0, 0.418);
    /* background: rgba(0, 0, 0, 0.543); */
    /* background: rgba(0, 0, 0, 0.776); */
    opacity: 0;
    transition: opacity 250ms;
    cursor: pointer;
    /* z-index: 99; */


    
    
  
    transform: translate(-50%, -50%);
    
    
    /* margin-right: 50px !important; */
}



.trackImage {
    width: 100%;
    height: 100%;
}

.trackInfoContainer {
    width: 50%;
    height: 100%;
    /* background: purple; */
}

.trackNameContainer {
    width: 100%;
    height: 50%;
    /* background: yellow; */
    position: relative
}

.trackName {
    position: absolute;
  left: 50%;
  top: 50%;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 18px;
  text-align: center;
  

  transform: translate(-50%, -50%);

}

.playAndStreamLinks {
    width: 100%;
    height: 50%;
    /* background: red; */
    display: flex;
    padding-left: 5px;
}

.streamContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap:  wrap;
    box-sizing: border-box;
    /* padding-top: 14px; */
    /* justify-content: space-around; */

}

.logoContainer {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    border: 1px solid black;
    /* border-radius: 50%; */
    box-sizing: border-box;
}

.streamingLogo {
    font-size: 25px !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    
  
    transform: translate(-50%, -50%) !important;
    

}

.playContainer {
    width:  36%;
    height: 100%;
    position: relative;
    
}

.trackPlayIcon {
    position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
//   opacity: 0;
  cursor: pointer;
  

  transform: translate(-50%, -50%);
  color: white !important;
  /* color: rgba(45, 51, 221, 0.338) !important */
  
}


.trackPlayIcon {

    position: absolute;
  left: 53%;
  top: 49%;
  font-size: 30px;
  cursor: pointer;
  color: white !important;
  opacity: 0;
  

  transform: translate(-50%, -50%);
  transition: opacity 400ms;
//   color: black;


}

.showPlayIcon {
    opacity: 1 !important;
}

.noStreamingLink {
    opacity: .3;
}




